@using PlantCatalogue.ViewModels
@{
    ViewData["Title"] = "Confirm your registration";
}
@model Confirm

<style>
    body {
        background: linear-gradient(to right, rgba(7, 207, 0, 1), rgba(17, 73, 194, 1)) !important;
    }

    .header {
        text-align: center;
        font-family: 'Rubik Wet Paint', cursive;
    }

    .nav-color {
        background-color: #559900 !important;
    }

    .gradient-custom-3 {
        background: linear-gradient(to right, rgba(7, 207, 0, 0.5), rgba(17, 73, 194, 0.5));
    }

    .gradient-custom-4 {
        background: linear-gradient(to right, rgba(132, 250, 110, 1), rgba(143, 211, 244, 1));
    }

        .gradient-custom-4:hover {
            background: linear-gradient(to right, rgba(7, 207, 0, 1), rgba(17, 73, 194, 1));
        }

    .bg-fix {
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(7, 207, 0, 0.5), rgba(17, 73, 194, 0.5);
    }

    .move-to-center {
        text-align: center;
    }

    ::-webkit-scrollbar {
        width: 3vh;
    }

    ::-webkit-scrollbar-track {
        background: rgba(17, 73, 194);
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(132, 250, 110);
        border-radius: 0.9vh;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: rgba(7, 207, 0);
        }
</style>

<article>
    <section>
        <nav class=" nav-color navbar-dark bg-dark head navbar navbar-expand-lg navbar-toggleable-md border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">
                    <h2 class="header justify-content-center">Új jelszó kérése</h2>
                </a>
            </div>
        </nav>
        <section class="vh-100 bg-image bg-fix" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-uppercase text-center mb-5">Regisztrálni szeretne? Itt lehetősége van hitelesíteni a regisztrációját!</h2>
                                    <br>
                                    <div class="form-outline mb-4 move-to-center">
                                        <form method="post">
                                            <input name="Id" type="hidden" value=@Model.Id>
                                            <p class="warning-up"><b>Kattintson a gombra a regisztrációja megerősítéséhez!</b></p>
                                            <input type="submit" class="gradient-custom-4" asp-action="Validate" value="Hitelesítés">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</article>
